@{
    ViewData["Title"] = "Sobre";
}

<h1>Projeto de teste da Simpress - Willian Steffler Dorneles</h1>
<hr />


<h4>Repositório</h4>
<a href="https://github.com/willianSteffler/simpressWeb">Repositório no Github</a>

<h4>Contato</h4>
<ul>
    <li>
        <i class="fab fa-google" style="color:orangered"></i> <b>Email:</b> wstefflerdev@gmail.com
    </li>
    <li>
        <i class="fab fa-whatsapp" style="color:green"></i> <b>Whatsapp:</b> 54996621552
    </li>
</ul>